In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.DataFrame({"X": np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]),
                     "y": np.array([1, 1.2, 1.4, 1.1, 1.0, 5.5, 6.1, 6.7, 6.4, 6, 5.9, 3, 3.2, 3.1])})
data.head()

   X    y
0  1  1.0
1  2  1.2
2  3  1.4
3  4  1.1
4  5  1.0

In [3]:
data[data[data.columns[-1]] > 5]

     X    y
5    6  5.5
6    7  6.1
7    8  6.7
8    9  6.4
9   10  6.0
10  11  5.9

In [4]:
# buat list untuk variasi threshold
thre_list = [*range(2, 15, 1)]

In [5]:
from dtree import *

In [6]:
dt = DecisionTreeRegressor(data, thre_list, ['y'])

In [10]:
dt._output_vars

['y']